.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.close-btn i {
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 1000; 
}

/* Styling for confirmation popup */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.popup-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirmBtn {
    background-color: #dc3545; 
    color: white;
}

#cancelBtn {
    background-color: #007bff; 
    color: white;
}