body {
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto;   /* Enable vertical scrolling if needed */
}

.category_block {
    display: none;
}
.popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}  




