/* left.css */
.card {
    margin-bottom: 20px;
}

.card-header {
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.list-group-item {
    padding: 10px;
}

.active {
    background-color: #007bff !important;
}

.bloc_left_price {
    color: #007bff;
}
